@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;700&display=swap');

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 0, 255, 255;
}

html,
body {
	font-family: 'IBM Plex Sans Arabic' !important;
	color: rgb(var(--foreground-rgb));
	direction: rtl;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@media screen and (max-width: 1212px) {
}

.page-button {
	display: flex;
	flex-direction: row;
	font-size: 25px;
	justify-content: start;
	align-items: center;
	padding: 16px;
	transition: 0.2s;
}

.page-button > div:last-child {
	margin-right: 10px;
}

.page-button:hover {
	background-color: rgba(123, 123, 123, 0.5);
}

.page-button.selected {
	background-color: rgba(123, 123, 123, 0.3);
}

.circle-button {
	border-radius: 100%;
	background-color: rgb(107, 99, 99);
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s;
	width: min-content;
	height: min-content;
}

.circle-button:hover {
	background-color: rgb(45, 43, 43);
}
